<% if (email_sent.message) { %>
  <p><%= email_sent.message %></p>
<% } %>

<form action="<%= routes['website_forgot_password'] %>" method="POST">
  <label>E-mail adress:</label>
  <input type="email" name="email" size="50">
  <input type="submit" value="Send">
</form>