<h1>LOGIN</h1>

<% if (!user.valid) { %>
  <% for (let id of Object.keys(user.errors)) { %>
    <li><%= user.errors[id] %></li>
  <% } %>
<% } %>

<form action="<%= routes['website_login'] %>" method="POST">
  <div>
    <label>Email</label>
    <input type="email" name="email" required>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>

  <div>
    <input type="submit" value="Login">
  </div>
</form>
<a href="<%= routes['website_register'] %>">Register</a>