<h1>REGISTER</h1>

<% if (!user.valid) { %>
  <% for (let id of Object.keys(user.errors)) { %>
    <li><%= `${id} ${user.errors[id]}` %></li>
  <% } %>
<% } %>

<form action="<%= routes['website_register'] %>" method="POST">
  <div>
    <label>Name</label>
    <input type="text" name="name" required>
  </div>

  <div>
    <label>Username</label>
    <input type="text" name="username" required>
  </div>

  <div>
    <label>Email</label>
    <input type="email" name="email" required>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>

  <div>
    <input type="submit" value="Register">
  </div>
</form>

<a href="<%= routes['website_login'] %>">Login</a>