<h1>INDEX</h1>

<a href="<%= routes['website_forgot_password'] %>">Forgot password</a>
<a href="<%= routes['website_login'] %>">Login</a>
<a href="<%= routes['website_register'] %>">Register</a>
<a href="<%= routes['website_admin'] %>">Admin</a>