<!-- Simple Form for Testing -->
<form action="login" method="POST" style="text-align: center">
	<p>
		Login
	</p>
	<p>
		Username:<br>
		<input type="text" name="username" value='' size=25>
	</p>
		
	<p>
		Password:<br>
		<input type="text" name="password" value='' size=25>
	</p>
		
	<p> 
		<input type="submit" value="Submit"> 
	</p>
</form>