<h1>REGISTER</h1>

<% user.errors.forEach((error, i) => { %>
  <li><%= error %></li>
<% }) %>

<form action="<%= routes['website_register'] %>" method="POST">
  <div>
    <label>Username</label>
    <input type="text" name="username">
  </div>

  <div>
    <label>Email</label>
    <input type="email" name="email">
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password">
  </div>

  <div>
    <input type="submit" value="Register">
  </div>
</form>