<form action="register" method="POST" style="margin: 0 0; text-align: center">
	<p>
		REGISTER
	</p>
	<p>
		Username:<br>
		<input type="text" name="username" size=25>
	</p>
		
	<p>
		Password:<br>
		<input type="text" name="password" size=25>
	</p>
		
	<p> 
		<input type="submit" value="Submit"> 
	</p>
</form>