<h1>PLATFORM</h1>
<a href="<%= routes['platform_show_profile'] %>">Show Profile</a>
<a href="<%= routes['platform_delete_profile'] %>">Delete Profile</a>
<a href="<%= routes['platform_delete_profile'] %>">Delete Profile</a>
<a href="<%= routes['website_logout'] %>">Logout</a>