<h1>PLATFORM</h1>
<a href="/platform/show_profile">Show Profile</a>
<a href="/platform/edit_profile">Edit Profile</a>
<a href="/platform/delete_profile">Delete Profile</a>
<a href="<%= routes['website_logout'] %>">Logout</a>